{% extends "layout.html" %}

{% block title %}
    Remove Book
{% endblock %}

{% block main %}
    <div class="bg-light mx-auto p-3"> 
        <form action="/remove" method="post">
            <div class="py-2">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="title" placeholder="Title" type="text">
            </div>
            <div class="py-2">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="author" placeholder="Author" type="text">
            </div>
            <div class="error">
                {% with errors = get_flashed_messages() %}
                    {% for error in errors %}
                        {% if error %}
                            <p>{{error}}</p>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="py-2 center">
                <button class="btn btn-danger" type="submit">Remove</button>
            </div>
        </form>
    </div>
{% endblock %}